.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #010101;
}

h1 {
  font-size: 50px;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale(0.8);
}

.info-container:nth-child(even) {
  flex-direction: row-reverse;
}

.info-container h2,
h3,
a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-container h3 {
  font-weight: normal;
}

.info-container a {
  text-decoration: none;
  color: #69779b;
};

.info-container a:hover {
  text-decoration: underline;
}

.info-container img {
  width: 100%;
}

.text-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 699px) {
  .h1 {
    font-size: 30px;
  }

  .info-container {
    flex-direction: column-reverse;
  }

  .info-container:nth-child(even) {
    flex-direction: column-reverse;
  }
}
