.scroll-to-top{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--primary);
    color: var(--light_primary);
    z-index: 1;
    cursor: pointer;
}

.scroll-to-top .icon {
    margin-top: 11px;
    margin-left: 13px;
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(-1px);
    }
}