.main-item{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #191e24;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:hover{
        transition: all 0.5s ease;
        // margin: 20px;
        transform: scale(1.09);
    }

    @media only screen and (max-width: 786px) {
        margin: 3px;
        padding: 1px;
    }

    img{
        width: 150px;
        height: 150px;

        @media only screen and (max-width: 889px) {
            width: 60px;
            height: 60px;
        }
    }

    h1{
        font-size: 30px;
        font-weight: 300;
        margin: 10px;

        @media only screen and (max-width: 889px) {
            font-size: 15px;
        }
    }
}