.intro{
    overflow: hidden;
    // position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    flex-direction: row;
    background-color: #010101;
}

.main-intro{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    bottom: 20px;
}

.ad-name{
    font-size: 50px;
    text-transform: uppercase;
    color: #69779b;
}

.resume{
    background-color: #888888;
    padding: 15px 20px;
    margin: 8px;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: #69779b;
        transform: scale(1.1);
    }
}

.video-bg{
    object-fit: cover;
    height: 100%;
}

.tsparticles-canvas-el{
    position: absolute;
    z-index: 0;
}

@media screen and (max-width: 786px){
    .ad-name{
        font-size: 20px;
    }
}