:root {
  --dark_primary: #010101; 
  --primary: #69779b; 
  --light_primary: #69779b; 
  --bg_color: #888888; 
}

*{
  margin: 0;
  padding: 0;
}

body{
  color: var(--light_primary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: var(--dark_primary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 25px;
}